version: '3'

services:
  app:
    image: thecodingmachine/php:${PHP_VERSION:-7.2}-v4-cli
    environment:
      PHP_INI_PHAR__READONLY: "Off"
      TYPO3_VERSION: ${TYPO3_VERSION:-^10.4}
      TYPO3_ORG_PASSWORD:
      TYPO3_ORG_USERNAME:
      typo3DatabaseHost: mysql
      typo3DatabaseUsername: root
      typo3DatabasePassword: root
      typo3DatabaseName: typo3
    depends_on:
      - mail
      - mysql
    volumes:
      - ./:/usr/src/app

  mysql:
    image: mysql:8.0
    command:
      - mysqld
      - --character-set-server=utf8mb4
    environment:
      MYSQL_DATABASE: typo3
      MYSQL_USER: typo3
      MYSQL_PASSWORD: typo3
      MYSQL_ROOT_PASSWORD: root
    tmpfs:
      - /var/lib/mysql

  mail:
    image: mailhog/mailhog:v1.0.1
